---
layout: default
title: 主页
---
<article>
  <img src="{{root}}images/huwai.png" class="img-fluid">
  <div class="blog-post">
    <header><h1>关于这个网站</h1></header>
      <p>在2005年的时候我做了一个图书网站，算是开始实践互联网。后来一直有搞互联网的想法，就结合自己的兴趣爱好做了绿众户外网。
        网站组织了一些户外活动，想走线上线下结合的路，但是开始做实体店卖户外用品后，我对创业有了新的看法，创业做的事情不能广，要集中。
        之后绿众户外网没有继续做，现在我把这个网站变成了自己的博客。</p>
    
      <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
              <img src="{{root}}images/lvz1.jpg" class="img-fluid" alt="箭扣长城">
            </div>
            <div class="col-md-4">
                <img src="{{root}}images/lvz2.jpg" class="img-fluid" alt="青银沟">
            </div>
            <div class="col-md-4">
                <img src="{{root}}images/lvz3.jpg" class="img-fluid" alt="天路草原">
            </div>
        </div>
      </div>
      <footer></footer>
  </div>
</article>
